---

name: 'Release'


on:
  push:
    tags:
      - '*'


env:
  # ACTIONS_RUNNER_DEBUG: "true"
  # ACTIONS_STEP_DEBUG: "true"
  GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}


permissions:
  contents: write


jobs:


  create:
    name: 'Create'
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:


      - name: Trace
        shell: bash
        run: |
          export


      - name: Install Commitizen
        shell: bash
        run: |
          pip install \
            commitizen==3.28.0


      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ github.ref_name }}


      - name: Create Incremental Changelog
        shell: bash
        run: |
          export PREV_GIT_TAG="$(git describe --abbrev=0 --tags `git rev-list --tags --skip=1  --max-count=1`)";
          export CURR_GIT_TAG="${{ github.ref_name }}";

          cz changelog --dry-run --merge-prerelease --unreleased-version "$PREV_GIT_TAG" "$CURR_GIT_TAG" > changelog-release.md;


      - name: Create Draft GH Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          body_path: changelog-release.md
          make_latest: true
          prerelease: false
          draft: true
